# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Node based deps
node_modules/

npm-debug.log

tmp